{% extends "core/base.html" %}
{% load staticfiles %}

{% load wagtailcore_tags wagtailimages_tags %}
{% load typogrify_tags %}

{% block body_class %}template-homepage{% endblock %}

{% block content %}
<div class="content-block">
    <fieldset>
    <br><div ><h1>{{ page.title|smartypants }}</h1></div>

    {% for item in page.gallery_images.all %}
        <div style="float: left; margin: 25px; margin-left: 20px;">
            {% image item.image fill-220x220 %}
        </div>
    {% endfor %}

    <div >{{ page.body|smartypants }}</div>
    </fieldset>

    <div class="personal info" style="float: left; margin-left:40px;">
        <div><h3>Personal information</h3></div>
        <span class="social">
            <i class="fi-social-linkedin"></i>
            <a href="https://www.linkedin.com/in/anke-stegehuis-42347956">LinkedIn Anke Stegehuis</a>
        </span><br>
        <span class="social">
            <i class="fi-social-twitter"></i>
            <a href="https://twitter.com/Geheime_liefde">Twitter - Geheime geliefden</a>
        </span><br>
        <span class="social">
            <i class="fi-mail">  geheimegeliefden@hotmail.com</i>
        </span>
    </div>


    <div style="floate:left;">
    <div style="margin-left:270px;" class="block-heading title"><h2><p>Publicaties</p></h2></div>
    {% for publication_about in page.publications_about.all %}
        <div class="author container">
            <div class="author portrait">
                {% if publication_about.publication.publication_image %}
                    {% image publication_about.publication.publication_image original %}
                {% endif %}
            </div>

            <div class="block author">
                <p><b>"{{ publication_about.publication.title }}"</b>

                {% if publication_about.publication.subtitle %}
                    <i>{{ publication_about.publication.subtitle|smartypants }}</i></p>
                {% endif %}

                <p><i>{{ publication_about.publication.pretty_date }}</i> - {{ publication_about.publication.source }}<br>

                {{ publication_about.publication.description }}</p>

                <p>Hier te lezen <a href={{ publication_about.publication.url_source }}>{{ publication_about.publication.source }}</a></p>
            </div>
        </div>
    {% endfor %}
    </div>

</div>
{% endblock %}