{% extends "core/base.html" %}
{% load staticfiles %}
{% load typogrify_tags %}

{% load wagtailcore_tags %}
{% load cache %}

{% block body_class %}template-homepage{% endblock %}

{% block content %}


<div class="content-block">
    <br><div ><h1>{{ page.title|smartypants }}</h1></div>


    {% cache 3600 archief %}
        <div class="archive-list">
            <ul>
                {% for page in archivepages %}

                    {% ifchanged page.date.year %}
                        <h3>{{ page.date.year }}</h3>
                    {% endifchanged %}

                    <li class="archive">
                        <span class="date">{{ page.date }}</span>
                        <a href="{{ page.url }}" class="archive-link">{{ page.title }}</a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    {% endcache %}

</div>


{% endblock %}