{% load staticfiles %}
{% load compress %}

{% load wagtailcore_tags wagtailimages_tags %}

<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>{% block page_title %}Geheime Geliefden{% endblock %}</title>

    <!-- Bootstrap Core CSS -->
    {% compress css %}
        <!--<link rel="stylesheet" type="text/css" charset="utf-8" href="{% static "core/css/bootstrap.css" %}" />-->
        <!--<link rel="stylesheet" type="text/css" charset="utf-8" href="{% static "core/css/bootstrap.min.css" %}" />-->
        <!--<link rel="stylesheet" type="text/css" charset="utf-8" href="{% static "core/css/692c31a12718.css" %}" />-->
        <!--<link rel="stylesheet" type="text/css" charset="utf-8" href="{% static "core/css/gege_body.css" %}" />-->
        <!--<link rel="stylesheet" type="text/css" charset="utf-8" href="{% static "core/css/gege_header.css" %}" />-->
        <link rel="stylesheet" type="text/css" charset="utf-8" href="{% static "core/css/gege.css" %}" />

    {% endcompress %}
    <link href="https://cdn.jsdelivr.net/foundation-icons/3.0/foundation-icons.css" rel='stylesheet' type='text/css'>


    {% block head %}{% endblock %}
</head>


<body>
<!-- This is the start of the navigation bar at the top of the page-->
<header>
    <div>
        <div>
            <div class="container header-container">
                <div class="logo">
                    <img src="{% static 'core/img/gege_logo2.png' %}"  height="50" widht="50" alt="Geheime Geliefden logo" style="margin-left: 10px; margin: 10px; margin-left: 30px;">
                </div>
                <div class="social">
                    <a style="margin-right=5px;" href="https://twitter.com/Geheime_liefde"><i class="fi-social-twitter"></i></a>
                    <a href="https://www.linkedin.com/in/anke-stegehuis-42347956"><i class="fi-social-linkedin"></i></a>
                </div>
                <div class="search">
                    <form action="{% url 'search' %}" method="GET">
                        {% block search_input %}
                            <input name="query" type="text" class="search text" placeholder="zoeken" />
                        {% endblock %}
                        <input type="submit" class="search button" value="zoek"/>
                    </form>
                </div>
            </div>
        </div>
    </div>


    <div class="container clearfix">
        <div class="container">
            <ul class="nav-background">
                <li class="nav-bar">
                    <a href="{% slugurl 'home' %}">Home</a>
                </li>
                <li class="nav-bar">
                    <a href="{% slugurl 'blog' %}">Blogs</a>
                </li>
                <li class="nav-bar">
                    <a href="{% slugurl 'media' %}">Media</a>
                </li>
                <li class="nav-bar">
                    <a >Over GeGe</a>
                </li>
                <li class="nav-bar">
                    <a href="{% slugurl 'archive' %}">Archief</a>
                </li>
                <li class="nav-bar" style="float:right">
                    <a >Contact</a>
                </li>
                <li class="nav-bar" style="float:right">
                    <a href="{% slugurl 'about' %}">Over mij</a>
                </li>
            </ul>
        </div>
    </div>
</header>

<!-- This is where you'll put your page content. Leave it blank for now. -->
<div class="container">{% block content %}{% endblock %}</div>

</body>


</html>
