{% extends "core/base.html" %}
{% load staticfiles %}

{% load wagtailcore_tags wagtailimages_tags %}

<!--{% block body_class %}template-blogindexpage{% endblock %}-->

{% block content %}
    <h3 style="margin-left: 50px">{{ page.title }}</h3>

    <!--<div class="intro">{{ page.intro|richtext }}</div>-->

    {% for post in mediapages %}

        {% with post=post.specific %}
        <div style="float: left; margin-left: 50px">
        <h5><a href="{% pageurl post %}">{{ post.title }}</a></h5>

        {% if post.image_as_cover %}
        <div class="block-cover">
            <figure class="image large">
                <a href="{% pageurl post %}">{% image post.image fill-300x240 %}</a>
            </figure>
        </div>

        {% elif post.image %}
        <div class="block-cover">
            <figure class="image large"">
                <a href="{% pageurl post %}">{% image post.image fill-300x240 %}</a>
            </figure>
        </div>
        {% endif %}
        </div>
        {% endwith %}
        {% endfor %}


{% endblock %}